.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #333333;
  color: white;
  margin: 0 1rem;
}

.button:hover {
  background-color: #202020;
  border-color: #fc6a01;
}

.popup {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fc6a01;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.btn--alt {
  background-color: #fc6a01;
  color: black;
}

.btn--alt:hover {
  background-color: #fc6a01;
}
