.content
{
    padding-left: 20px;
}

.event-feed
{
    float: left;
    border: black;
    border-width: 5px 5px 5px 5px;
    width: 60%;
    padding-left: 20px;
    /* overflow-y: scroll; */
}

.right-container
{
    height: 100%;
    position: fixed;
    top: 0px;
    border: black;
    border-width: 5px 5px 5px 5px;
    float: right;
    padding-right: 50px;
    width: 30%;
    background-color: #FC6A01;
    right: -3%;
    /* overflow-y: scroll; */
    padding: 20px;
}

.joined-events
{
    height: 25%;
    width: 80%;
    top: 0px;
    overflow-y: scroll;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.joined-events::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.joined-events{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hosted-events
{
    height: 25%;
    width: 80%;
    top: 30%;
    overflow-y: scroll;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hosted-events::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hosted-events {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}