@font-face {
  font-family: "Istok Web";
  src: url("https://fonts.google.com/specimen/Istok+Web?query=istok+web") 
}

body {
  font-family: 'Istok Web';
  margin: 0;
  padding: 0;
}

.content {
  margin-left: 150px;
  padding-left: 20px;
  height: 100%;
  width: auto;
}